.activity{
    padding-top: 3.5rem;
    text-decoration: none;
    color: white;
    width: 90%;
    cursor: default;
  }

  .activity-header{
    display: flex;
    justify-content: space-between;
  }

  