.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  background-color: var(--base-bg-color);
}
