.activity-feed{
    text-decoration: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    row-gap: 5rem;
    column-gap: 5rem;
    height: max-content;
}

@media screen and (max-width: 900px) {
    .activity-feed{
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }
}