.nutrition-page {
  width: 100%;
  min-height: 100vh;
}

.nutrition-page .nutrition-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
.white {
  color: white;
}
.nutrition-page.button {
  display: flex;
}
.nutrition-page .button button {
  flex: 1;
}
