.auth-div{
    height: 100%;
    width: 100%;
    color: white;
    justify-content: center;
}

.auth-div, .registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
}

.auth-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.registration-form{
    width: 25%;
    height: 40%;
    max-height: 25rem;
    border-radius: .3rem;
    background-color: rgb(45, 45, 45);
    padding: 2% 2%;
}

.names{
    display: flex;
    width: 100%; 
    justify-content: space-between;
}


.name-input-box{
    width: calc(97% / 2 - 2ch);
    height: 2.5rem;
    font-size: 1.1rem;
    border: .1rem solid white;
    background-color: transparent;
    border-radius: .3rem;
    color: white;
    padding: 0 1ch;
}

.long-input-div{
    width: 100%;
}

.long-input-box{
    width: 100%;
    height: 2.5rem;
    font-size: 1.1rem;
    border: .1rem solid white;
    background-color: transparent;
    border-radius: .3rem;
    color: white;
    padding: 0 1ch;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
}

.auth-btn{
    color: white;
    background-color: var(--button-color);
    border-radius: .3rem;
    height: 2.5rem;
    width: 100%;
    font-size: 1.1rem;
    border: .2rem solid var(--button-color);
}

@media screen and (max-width: 650px) {
    .registration-form{
        width: 75%;
        height: 100%;
        padding: 5% 5%;
    }
}